@tailwind base;
@tailwind components;
@tailwind utilities;

html.font-size-small {
    font-size: 12px;
}

html.font-size-medium {
    font-size: 15px;
}

html.font-size-large {
    font-size: 21px;
}