@tailwind base;
@tailwind components;
@tailwind utilities;

html.font-size-small {
    font-size: 12px;
}

html.font-size-medium {
    font-size: 15px;
}

html.font-size-large {
    font-size: 21px;
}

.bg-dotted-grid {
    background-image: radial-gradient(#f0e6e0 1.5px, transparent 1.5px);
    background-size: 24px 24px;
    background-color: #faf7f5;
}